<div class="line_bank_bankground_color">
  <form [formGroup]="limitSearchForm">
    <!-- <div class="">個人額度維護</div> -->
    <div style="padding-left: 20px; padding-top: 30px;">
      <button nz-button [nzSize]="'large'" nzType="primary" style="margin:0px 5px" (click)="onSubmit()">查詢</button>
      <button nz-button [nzSize]="'large'" nzType="default" nzDanger style="margin:0px 5px" (click)="cleanToEmpty()">清除</button>
    </div>

    <div class="line_bank_card_no_padding">
      <div nz-row>
        <div nz-col nzSpan="6">
          <div style="padding:10px"><span class="form-title">客戶編號 CID：</span>
            <input nz-input style="display: block; padding: 4px 11px;" formControlName="CUSTOMER_ID" value="">
          </div>
        </div>
        <!-- <div nz-col nzSpan="6">
          <div class="form" style="padding:20px;">
            <span class="form-title-actions">額度起日</span>
            <mat-form-field color="accent" class="example-form-field" style="width: 150px; margin-top: -19px; color: black;">
              <input nz-input [matDatepicker]="startDateValue" formControlName="LIMIT_START_DATE"
                 disabled>
              <mat-datepicker-toggle matSuffix [for]="startDateValue">
              </mat-datepicker-toggle>
              <mat-datepicker #startDateValue disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div> -->
      </div>
    </div>
  </form>

  <cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="height: 400px;">
    <div style="padding-left: 20px;;">
      <button [disabled]="isDisabled" nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px; "
        (click)="addNew()">新增</button>
    </div>
    <div class="line_bank_card_no_padding">
      <!-- 表格 -->
      <nz-table nzShowSizeChanger [nzData]="limitDataSource" [nzFrontPagination]="false" [nzSimple]="true"
        (nzQueryParams)="onQueryParamsChange($event)" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex" nzSize="small" [nzScroll]="{ x: '300px', y: '240;px' }" nzTitle="個人額度明細">
        <thead>
          <tr>
            <th nzLeft class="table-header" style="color: black;">明細內容</th>
            <th class="table-header" style="color: black;">額度編號</th>
            <th class="table-header"style="color: black;">額度類別代碼</th>
            <th class="table-header"style="color: black;">停用註記</th>
            <th class="table-header"style="color: black;">額度</th>
            <th class="table-header"style="color: black;">額度起日</th>
            <th class="table-header"style="color: black;">額度訖日</th>
            <th class="table-header"style="color: black;">是否已核准</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of limitDataSource">
            <td nzLeft><button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"
                (click)="getContent(data.customerId, data.creditLimit, data.limitStartDate)">明細</button>
            </td>
            <td class="table-data">{{ data.limitNo }}</td>
            <td class="table-data">{{ data.limitTypeCode }}</td>
            <td class="table-data">{{ data.stopFlag }}</td>
            <td class="table-data" style="text-align: right;">{{ toCurrency(data.creditLimit) }}</td>
            <td class="table-data">{{ data.limitStartDate |date :'yyyy-MM-dd' }}</td>
            <td class="table-data">{{ data.limitEndDate |date :'yyyy-MM-dd' }}</td>
            <td class="table-data">{{ data.statusFlag }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
