<div class="container">
  <th class="f01_th">個人額度維護</th>
  <form [formGroup]="limitSearchForm" style="padding-left: 20px;">
    <div class="f01_div">
      <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">查詢</button>
      <button type="clear" mat-raised-button color="primary" (click)="cleanToEmpty()">清除</button>
    </div>
    <table>
      <br>
      <mat-card class="matCard">
        <mat-card-content>
          <tr>
            <th nowrap="nowrap">客戶編號 CID：</th>
            <td>
              <mat-form-field color="accent">
                <input [readonly]="isReadOnly" matInput #input class="form-control" formControlName="CUSTOMER_ID">
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>
            <th nowrap="nowrap">額度起訖：</th>
            <td>
              <mat-form-field color="accent" class="example-form-field">
                <mat-date-range-input [rangePicker]="rangePicker">
                  <input matStartDate formControlName="LIMIT_START_DATE" value="">
                  <input matEndDate formControlName="LIMIT_END_DATE">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker>
                  <mat-date-range-picker-actions>
                    <button mat-raised-button color="primary" matDateRangePickerApply (click)="setTimes()">確定</button>
                    <button mat-button matDateRangePickerCancel>取消</button>
                  </mat-date-range-picker-actions>
                </mat-date-range-picker>
              </mat-form-field>
            </td>
          </tr>
        </mat-card-content>
      </mat-card>
    </table>
  </form>
</div>

<br>
<hr>

<cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="height: 400px;">
  <mat-dialog-content>
    <mat-table [dataSource]="limitDataSource" matSort (matSortChange)="changeSort($event)">
      <ng-container matColumnDef="management">
        <mat-header-cell *matHeaderCellDef>
          明細內容
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button [disabled]="checkButton(row.statusFlag)" mat-raised-button color="success"  (click) = "getContent(row.nationalId, row.customerId, row.creditLimit, row.limitStartDate)">明細</button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="LIMIT_NO">
        <mat-header-cell *matHeaderCellDef>額度編號</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.limitNo }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="LIMIT_TYPE_CODE">
        <mat-header-cell *matHeaderCellDef>額度類別代碼</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.limitTypeCode }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="STOP_FLAG">
        <mat-header-cell *matHeaderCellDef>停用註記</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.stopFlag }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="CREDIT_LIMIT">
        <mat-header-cell *matHeaderCellDef>額度</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.creditLimit }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="LIMIT_START_DATE">
        <mat-header-cell *matHeaderCellDef>額度起日</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.limitStartDate |date :'yyyy-MM-dd'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="LIMIT_END_DATE">
        <mat-header-cell *matHeaderCellDef>額度訖日</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.limitEndDate |date :'yyyy-MM-dd'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="STATUS_FLAG">
        <mat-header-cell *matHeaderCellDef>是否已核准</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.statusFlag }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <!-- <button mat-icon-button color="primary" (click)="addNew()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button> -->
          <button [disabled]="isDisabled" type="button" mat-raised-button color="basic" (click)="addNew()">新增</button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index;"></mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['management', 'LIMIT_NO', 'LIMIT_TYPE_CODE', 'STOP_FLAG', 'CREDIT_LIMIT', 'LIMIT_START_DATE', 'LIMIT_END_DATE', 'STATUS_FLAG', 'actions']; sticky: true">
      </mat-header-row>

      <mat-row
        *matRowDef="let ruleParmRow; columns: ['management', 'LIMIT_NO', 'LIMIT_TYPE_CODE', 'STOP_FLAG', 'CREDIT_LIMIT', 'LIMIT_START_DATE', 'LIMIT_END_DATE', 'STATUS_FLAG', 'actions']">
      </mat-row>

    </mat-table>
  </mat-dialog-content>
</cdk-virtual-scroll-viewport>
