<div class="line_bank_bankground_color">
  <form [formGroup]="limitSearchForm">
    <!-- <div class="">個人額度維護</div> -->
    <div style="padding-left: 20px; padding-top: 70px;">
      <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="onSubmit()">查詢</button>
      <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="cleanToEmpty()">清除</button>
    </div>

    <div class="line_bank_card_no_padding">
      <div nz-row>
        <div nz-col nzSpan="6">
          <div style="padding:10px"><span class="form-title">客戶編號 CID：</span>
            <input style="display: block;" formControlName="CUSTOMER_ID" value="">
          </div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px"><span class="form-title">額度起訖：</span>
            <mat-form-field color="accent" class="example-form-field" style="margin-top:-20px; width: 200px;">
              <mat-date-range-input [rangePicker]="rangePicker">
                <input matStartDate formControlName="LIMIT_START_DATE"
                  style="padding-bottom: 15px; background-color: white; border-color: white; width: 100px">
                <input matEndDate formControlName="LIMIT_END_DATE"
                  style="background-color: white; border-color: white; width: 100px">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                  <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px; " matDateRangePickerApply (click)="setTimes()">確定</button>
                  <button nz-button [nzSize]="'middle'" nzType="default" nzDanger style="margin:0px 5px; " matDateRangePickerCancel>取消</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>

  <cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="height: 400px;">
    <div style="padding-left: 20px;;">
      <button [disabled]="isDisabled" nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px; "
        (click)="addNew()">新增</button>
    </div>
    <div class="line_bank_card_no_padding">
      <!-- 表格 -->
      <nz-table nzShowSizeChanger [nzData]="limitDataSource" [nzFrontPagination]="false" [nzSimple]="true"
        (nzQueryParams)="onQueryParamsChange($event)" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex" nzSize="small" [nzScroll]="{ x: '300px', y: '240;px' }" nzTitle="個人額度明細">
        <thead>
          <tr>
            <th nzLeft class="table-header">明細內容</th>
            <th class="table-header">額度編號</th>
            <th class="table-header">額度類別代碼</th>
            <th class="table-header">停用註記</th>
            <th class="table-header">額度</th>
            <th class="table-header">額度起日</th>
            <th class="table-header">額度訖日</th>
            <th class="table-header">是否已核准</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of limitDataSource">
            <td nzLeft><button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"
                (click)="getContent(data.nationalId, data.customerId, data.creditLimit, data.limitStartDate)">明細</button>
            </td>
            <td class="table-data">{{ data.limitNo }}</td>
            <td class="table-data">{{ data.limitTypeCode }}</td>
            <td class="table-data">{{ data.stopFlag }}</td>
            <td class="table-data">{{ data.creditLimit }}</td>
            <td class="table-data">{{ data.limitStartDate |date :'yyyy-MM-dd' }}</td>
            <td class="table-data">{{ data.limitEndDate |date :'yyyy-MM-dd' }}</td>
            <td class="table-data">{{ data.statusFlag }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
