<div class="line_bank_bankground_color">
<div class="container">
    <form [formGroup]="frozenForm">
      <div class="line_bank_card_no_padding">
        <!-- <table> -->
            <!-- <br>
            <mat-card class="matCard">
                <mat-card-content>
                    <tr>
                        <td>
                            <button type="submit" mat-raised-button color="primary" (click)="frozen(true)">凍結</button>
                        </td>
                        <td>
                            <button type="clear" mat-raised-button color="warn" (click)="frozen(false)">解凍</button>
                        </td>
                        <th nowrap="nowrap">選擇額度號：</th>
                        <td>
                            <mat-form-field color="accent">
                                <mat-select [(ngModel)]="limitNoSelectedValue" formControlName="LIMIT_NO" value=''>
                                    <mat-option *ngFor="let code of limitNoOption" [value]="code.value">
                                        {{code.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <th nowrap="nowrap">選擇功能：</th>
                        <td>
                            <mat-form-field color="accent">
                                <mat-select [(ngModel)]="actionTypeSelectedValue" formControlName="ACTION_TYPE" value=''>
                                    <mat-option *ngFor="let code of actionTypeOption" [value]="code.value">
                                        {{code.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">查詢</button>
                        </td>
                    </tr>
                </mat-card-content>
            </mat-card> -->

            <div nz-row>
              <div nz-col nzSpan="32">
                <div style="padding:10px">
                  <button nz-button [nzSize]="'large'" nzType="primary" style="margin:0px 5px" (click)="frozen(true)">凍結</button>
                </div>
              </div>
              <div nz-col nzSpan="32">
                <div style="padding:10px">
                  <button nz-button [nzSize]="'large'" nzType="primary" style="margin:0px 5px" (click)="frozen(false)">解凍</button>
                </div>
              </div>
              <div nz-col nzSpan="6">
                <div style="padding:10px"><span class="form-title">選擇額度號：</span>
                  <mat-select [(ngModel)]="limitNoSelectedValue" formControlName="LIMIT_NO"
                    style="width:100%;height:25px;border-radius:10px;border:none;padding:4px;background-color:#E6E6E6">
                    <mat-option *ngFor="let code of limitNoOption" [value]="code.value">
                      {{code.viewValue}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              <div nz-col nzSpan="6">
                <div style="padding:10px"><span class="form-title">選擇功能：</span>
                  <mat-select [(ngModel)]="actionTypeSelectedValue" formControlName="ACTION_TYPE"
                    style="width:100%;height:25px;border-radius:10px;border:none;padding:4px;background-color:#E6E6E6">
                    <mat-option *ngFor="let code of actionTypeOption" [value]="code.value">
                      {{code.viewValue}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              <div nz-col nzSpan="32">
                <div style="padding:10px">
                  <button nz-button [nzSize]="'large'" nzType="primary" style="margin:0px 5px"
                    (click)="onSubmit()">查詢</button>
                </div>
              </div>
            </div>
        <!-- </table> -->
      </div>
    </form>
</div>

<!-- <cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="height: 400px;">
    <mat-dialog-content>
        <mat-table [dataSource]="frozenDataSource" matSort (matSortChange)="changeSort($event)">

            <ng-container matColumnDef="LIMIT_NO">
                <mat-header-cell *matHeaderCellDef>額度號</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.limitNo }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ACTION_TYPE">
                <mat-header-cell *matHeaderCellDef>功能類別</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ getOptionDesc(row.actionType) }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="REASON_CODE">
                <mat-header-cell *matHeaderCellDef>原因代碼</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.reasonCode }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="REASON_DESC">
                <mat-header-cell *matHeaderCellDef>原因說明</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.reasonDesc }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="EMPNO">
                <mat-header-cell *matHeaderCellDef>處理員編</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.empno }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="APPLNO">
                <mat-header-cell *matHeaderCellDef>案件編號</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.applno }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="MANAGE_DATE">
                <mat-header-cell *matHeaderCellDef>異動時間</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.manageDate |date :'yyyy-MM-dd'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="UNFROZEN_FLAG">
                <mat-header-cell *matHeaderCellDef>是否已解凍</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.unfrozenFlag }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="STATUS_FLAG">
                <mat-header-cell *matHeaderCellDef>是否已核准</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.statusFlag }}</mat-cell>
            </ng-container>

            <mat-header-row
                *matHeaderRowDef="['LIMIT_NO', 'ACTION_TYPE', 'REASON_CODE', 'REASON_DESC', 'EMPNO', 'APPLNO', 'MANAGE_DATE', 'UNFROZEN_FLAG', 'STATUS_FLAG']; sticky: true">
            </mat-header-row>

            <mat-row
                *matRowDef="let ruleParmRow; columns: ['LIMIT_NO', 'ACTION_TYPE', 'REASON_CODE', 'REASON_DESC', 'EMPNO', 'APPLNO', 'MANAGE_DATE', 'UNFROZEN_FLAG', 'STATUS_FLAG']">
            </mat-row>

        </mat-table>

        <tr>
            <td>
                <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
                </mat-paginator>
            </td>
        </tr>
    </mat-dialog-content>
</cdk-virtual-scroll-viewport> -->

<cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="height: 400px;">
  <div class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="frozenDataSource" [nzFrontPagination]="false" [nzSimple]="true"
       [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex" nzSize="small" [nzScroll]="{ x: '300px', y: '240;px' }" nzTitle="動用/釋放額度明細">
      <thead>
        <tr>
          <th nzLeft class="table-header">額度號</th>
          <th class="table-header">功能類別</th>
          <th class="table-header">原因代碼</th>
          <th class="table-header">原因說明</th>
          <th class="table-header">處理員編</th>
          <th class="table-header">案件編號</th>
          <th class="table-header">異動時間</th>
          <th class="table-header">是否已解凍</th>
          <th class="table-header">是否已核准</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of frozenDataSource">
          <td class="table-data">{{ data.limitNo }}</td>
          <td class="table-data">{{ getOptionDesc(row.actionType) }}</td>
          <td class="table-data">{{ data.reasonCode }}</td>
          <td class="table-data">{{ data.reasonDesc }}</td>
          <td class="table-data">{{ data.empno }}</td>
          <td class="table-data">{{ data.applno }}</td>
          <td class="table-data">{{ data.manageDate |date :'yyyy-MM-dd' }}</td>
          <td class="table-data">{{ data.unfrozenFlag }}</td>
          <td class="table-data">{{ data.statusFlag }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</cdk-virtual-scroll-viewport>
</div>
