<div class="line_bank_bankground_color" style="padding-top: 30px;">
  <div class="line_bank_card_no_padding">
    <div nz-row>
      <div nz-col nzSpan="6">
        <div style="padding:10px"><span class="form-title">代碼類別：</span>
          <mat-select [(ngModel)]="selectedValue" name="sysCode"
          style="width:100%;height:30px;border-radius:10px;border:none;padding:4px 11px;background-color:#E6E6E6">
            <mat-option *ngFor="let code of sysCode" [value]="code.value">
              {{code.viewValue}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div nz-col nzSpan="6">
        <div style="padding:10px"><span class="form-title">Filter：</span>
          <input nz-input (keyup)="applyFilter($event)" value="{{selectedValue}}" />
        </div>
      </div>
    </div>
  </div>

  <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 0px 0px 40px" (click)="addNew()">新增</button>
  <cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="height: 400px;">
    <div class="line_bank_card_no_padding">
      <!-- 表格 -->
      <nz-table nzShowSizeChanger [nzData]="mappingCodeSource" [nzFrontPagination]="false" [nzSimple]="true"
        [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex" nzSize="small" [nzScroll]="{ x: '300px', y: '240;px' }" nzTitle="系統代碼維護">
        <thead>
          <tr>
            <th nzLeft class="table-header"></th>
            <th class="table-header">類別</th>
            <th class="table-header">代碼</th>
            <th class="table-header">描述</th>
            <th class="table-header">排序</th>
            <th class="table-header">備註</th>
            <th class="table-header">是否停用</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of mappingCodeSource">
            <td nzLeft><button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"
                (click)="startEdit(i,
                row.codeType, row.codeNo, row.codeDesc, row.codeSort, row.codeTag, row.codeFlag)">編輯</button>
            </td>
            <td class="table-data">{{ data.codeType }}</td>
            <td class="table-data">{{ data.codeNo }}</td>
            <td class="table-data">{{ data.codeDesc }}</td>
            <td class="table-data">{{ data.codeSort }}</td>
            <td class="table-data">{{ data.codeTag }}</td>
            <td class="table-data">{{ data.codeFlag }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
