<div class="line_bank_bankground_color" style="padding-top: 30px;">
  <cdk-virtual-scroll-viewport itemSize="48" headerHeight="56"
    style="height: 60px; margin-left: 10px; margin-top: 10px;">
    <table>
      <tr>
        <th> 主管覆核 </th>
        <td>
          <button nz-button [nzSize]="'large'" nzType="primary" style="margin:0px 5px" (click)="approve()">核准</button>
          <button nz-button [nzSize]="'large'" nzType="default" nzDanger style="margin:0px 5px"
            (click)="notApprove()">不核准</button>
        </td>
      </tr>
    </table>
  </cdk-virtual-scroll-viewport>

  <cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="height: 400px; margin-left: 10px;">
    <div class="line_bank_card_no_padding">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="AGREE_FLAG">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [isChecked]="isChecked" color="primary" (change)="setAll($event.checked)">全選</mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <mat-checkbox [(ngModel)]="chkArray[i].completed" color="primary"
              (change)="checkChecked($event.checked, i, dataSource)"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="LIMIT_NO" name="LIMIT_NO" ngDefaultControl>
          <th mat-header-cell *matHeaderCellDef> 額度號 </th>
          <td mat-cell *matCellDef="let element"> {{element.LIMIT_NO}} </td>
        </ng-container>

        <ng-container matColumnDef="COLUMN_DESC">
          <th mat-header-cell *matHeaderCellDef> 欄位名稱 </th>
          <td mat-cell *matCellDef="let element"> {{element.COLUMN_DESC}} </td>
        </ng-container>

        <ng-container matColumnDef="BEFORE_VAL">
          <th mat-header-cell *matHeaderCellDef> 修改前欄位值 </th>
          <td mat-cell *matCellDef="let element"> {{element.BEFORE_VAL}} </td>
        </ng-container>

        <ng-container matColumnDef="AFTER_VAL">
          <th mat-header-cell *matHeaderCellDef> 修改後欄位值 </th>
          <td mat-cell *matCellDef="let element"> {{element.AFTER_VAL}} </td>
        </ng-container>

        <ng-container matColumnDef="REASON_CONTENT">
          <th mat-header-cell *matHeaderCellDef> 原因說明 </th>
          <td mat-cell *matCellDef="let element"> {{element.REASON_CONTENT}} </td>
        </ng-container>

        <ng-container matColumnDef="EMPNO">
          <th mat-header-cell *matHeaderCellDef> 處理員編 </th>
          <td mat-cell *matCellDef="let element"> {{element.EMPNO }} </td>
        </ng-container>

        <ng-container matColumnDef="MANAGE_DATE">
          <th mat-header-cell *matHeaderCellDef> 異動時間 </th>
          <td mat-cell *matCellDef="let element"> {{element.MANAGE_DATE | date:'yyyy/MM/dd hh:mm:ss'}} </td>
        </ng-container>

        <ng-container matColumnDef="ACTION_SORT">
          <th mat-header-cell *matHeaderCellDef> 行為 </th>
          <td mat-cell *matCellDef="let element"> {{element.ACTION_SORT}} </td>
        </ng-container>

        <ng-container matColumnDef="ROW_ID">
          <th mat-header-cell *matHeaderCellDef> ROW_ID </th>
          <td mat-cell *matCellDef="let element"> {{element.ROW_ID}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Group header -->
        <ng-container matColumnDef="groupHeader">
          <td colspan="999" mat-cell *matCellDef="let group">
            <!-- <mat-icon *ngIf="group.expanded">expand_less</mat-icon>
            <mat-icon *ngIf="!group.expanded">expand_more</mat-icon> -->
            <fa-icon class="icon_size" *ngIf="!group.expanded" [icon]="faAngleDown"></fa-icon>
            <fa-icon class="icon_size" *ngIf="group.expanded" [icon]="faAngleUp"></fa-icon>
            <strong>{{ group.ACTION_SORT == 1 ? '新增額度設定' : group.ACTION_SORT == 2 ? '修改額度資料' : '預佔/釋放/凍結/解凍' }}</strong>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup" (click)="groupHeaderClick(row)"> </tr>

      </table>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
