<div class="line_bank_bankground_color" style="padding-top: 30px;">
  <div class="line_bank_card_no_padding">
    <div nz-row>
      <div nz-col nzSpan="6">
        <div style="padding:10px"><span class="form-title">客戶編號 CID：</span>
          <input style="display: block; padding: 4px 11px;" #input class="form-control" [(ngModel)]="this.CUSTOMER_ID" readonly>
        </div>
      </div>
      <div nz-col nzSpan="6">
        <div style="padding:10px"><span class="form-title">身分證字號：</span>
          <input style="display: block;padding: 4px 11px;" #input class="form-control" [(ngModel)]="this.NATIONAL_ID" readonly>
        </div>
      </div>
      <div nz-col nzSpan="6">
        <div style="padding:10px"><span class="form-title">額度建立日期：</span>
          <input style="display: block;padding: 4px 11px;" #input class="form-control" [(ngModel)]="this.LIMIT_START_DATE" readonly>
        </div>
      </div>
      <div nz-col nzSpan="6">
        <div style="padding:10px;"><span class="form-title">歸戶額度：</span>
          <input style="display: block; text-align: right;padding: 4px 11px;" #input class="form-control" [(ngModel)]="this.CREDIT_LIMIT" readonly>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 30px; margin-left: 30px;">
    <button nz-button [nzSize]="'large'" nzType="primary" style="margin:0px 5px" routerLinkActive="activeFirst" routerLink="./F01003SCN1"
      [queryParams]="{ NATIONAL_ID: this.NATIONAL_ID, CUSTOMER_ID: this.CUSTOMER_ID, LIMIT_START_DATE: this.LIMIT_START_DATE, CREDIT_LIMIT: this.CREDIT_LIMIT }"
      id="firstBtn">額度資料</button>
    <button nz-button [nzSize]="'large'" nzType="primary" style="margin:0px 5px" routerLinkActive="activeFirst" routerLink="./F01003SCN2"
      [queryParams]="{ NATIONAL_ID: this.NATIONAL_ID, CUSTOMER_ID: this.CUSTOMER_ID, LIMIT_START_DATE: this.LIMIT_START_DATE, CREDIT_LIMIT: this.CREDIT_LIMIT }">動用&釋放額度明細</button>
    <button nz-button [nzSize]="'large'" nzType="primary" style="margin:0px 5px" routerLinkActive="activeFirst" routerLink="./F01003SCN3"
      [queryParams]="{ NATIONAL_ID: this.NATIONAL_ID, CUSTOMER_ID: this.CUSTOMER_ID, LIMIT_START_DATE: this.LIMIT_START_DATE, CREDIT_LIMIT: this.CREDIT_LIMIT }">凍結&解凍額度明細</button>
    <button nz-button [nzSize]="'large'" nzType="primary" style="margin:0px 5px" routerLinkActive="activeFirst" routerLink="./F01003SCN4"
      [queryParams]="{ NATIONAL_ID: this.NATIONAL_ID, CUSTOMER_ID: this.CUSTOMER_ID, LIMIT_START_DATE: this.LIMIT_START_DATE, CREDIT_LIMIT: this.CREDIT_LIMIT }">額度欄位修改明細</button>
  </div>
  <router-outlet></router-outlet>
</div>
