<div class="line_bank_card_no_padding" style="min-height:170px">
  <div class="line_bank_form_header_title">個人額度維護-編輯</div>
  <div class="container" style="padding:20px">
    <form class="mat-dialog-content" #formControl="ngForm" [formGroup]="addForm">
      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">身分證字號</span>
              <input nz-input #input class="form-control" name="codeTag" formControlName="NATIONAL_ID" readonly>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">客戶編號</span>
              <input nz-input #input class="form-control" name="codeTag" formControlName="CUSTOMER_ID" readonly>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">層級</span>
              <input nz-input #input class="form-control" name="codeTag" formControlName="LEVEL_NO" readonly>
            </div>
          </div>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">額度類別代碼</span>
              <mat-select formControlName="LIMIT_TYPE_CODE" readonly
                style="width:100%;height:25px;border-radius:10px;border:none;padding:4px;background-color:#E6E6E6;">
                <mat-option *ngFor="let yn of limitTypeOption" [value]="yn.value">
                  {{yn.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <!-- <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker> -->
          <div class="form" style="padding:20px;">
            <nz-form-label nzFor="website" nzRequired style="margin-top: -8px; height: 27px;"><span
                class="form-title-actions">額度訖日</span>
            </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <mat-form-field color="accent" class="example-form-field"
                style="width: 150px; margin-top: -19px; color: black;">
                <input matInput [matDatepicker]="endDateValue" [min]="minDate" formControlName="LIMIT_END_DATE"
                  disabled>
                <mat-datepicker-toggle matSuffix [for]="endDateValue">
                </mat-datepicker-toggle>
                <mat-datepicker #endDateValue disabled="false"></mat-datepicker>
              </mat-form-field>
            </nz-form-control>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" nzRequired style="margin-top: -8px; height: 27px;"><span
                class="form-title-actions">額度</span>
            </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <input nz-input #input class="form-control" style="text-align: right;"
                onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                (keyup)="onKey($event)" name="codeTag" formControlName="CREDIT_LIMIT" required>
            </nz-form-control>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">幣別</span>
              <mat-select formControlName="CURRENCY_TYPE"
                style="width:100%;height:25px;border-radius:10px;border:none;padding:4px;background-color:#E6E6E6">
                <mat-option *ngFor="let type of CurrencyOption" [value]="type.value">
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">停用註記</span>
              <mat-select formControlName="STOP_FLAG" (ngModelChange)="changeSelect()"
                style="width:100%;height:25px;border-radius:10px;border:none;padding:4px;background-color:#E6E6E6">
                <mat-option *ngFor="let yn of ynCode" [value]="yn.value">
                  {{yn.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" nzRequired={{!isDisabled}} style="margin-top: -8px; height: 27px;"><span
                class="form-title-actions">停用日期</span></nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <mat-form-field color="accent" class="example-form-field" style="width: 150px; margin-top: -19px;">
                <input matInput [matDatepicker]="stopDateValue" formControlName="STOP_DATE" value="" disabled required={{!isDisabled}}>
                <mat-datepicker-toggle matSuffix [for]="stopDateValue">
                </mat-datepicker-toggle>
                <mat-datepicker #stopDateValue disabled="{{isDisabled}}">
                </mat-datepicker>
              </mat-form-field>
            </nz-form-control>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">上層額度號</span>
              <input nz-input #input class="form-control" name="codeTag" formControlName="UP_LEVEL" readonly>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">是否可撤銷</span>
              <mat-select formControlName="CANCEL_FLAG"
                style="width:100%;height:25px;border-radius:10px;border:none;padding:4px;background-color:#E6E6E6">
                <mat-option *ngFor="let yn of ynCode" [value]="yn.value">
                  {{yn.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">循環別</span>
              <mat-select formControlName="CYCLE_TYPE"
                style="width:100%;height:25px;border-radius:10px;border:none;padding:4px;background-color:#E6E6E6">
                <mat-option *ngFor="let yn of ynCode" [value]="yn.value">
                  {{yn.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>

      </div>

      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">額度號</span>
              <input nz-input #input class="form-control" formControlName="LIMIT_NO" readonly>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" style="margin-top: -8px; height: 27px;"><span
                class="form-title-actions">專案代碼</span></nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="長度應為10碼">
              <input nz-input #input class="form-control" formControlName="PROJECT_CODE" maxlength="10" minlength="10">
            </nz-form-control>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" nzRequired={{!isDisabled}} style="margin-top: -8px; height: 27px;"><span
                class="form-title-actions">停用原因碼</span></nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <mat-select formControlName="STOP_CODE" required={{!isDisabled}}
                style="width:100%;height:25px;border-radius:10px;border:none;padding:4px;background-color:#E6E6E6">
                <mat-option *ngFor="let yn of StopCodeOption" [value]="yn.value">
                  {{yn.viewValue}}
                </mat-option>
              </mat-select>
            </nz-form-control>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" nzRequired={{!isDisabled}}><span class="form-title-actions">停用說明</span>
            </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <input nz-input #input class="form-control" formControlName="STOP_DESC" required={{!isDisabled}}>
            </nz-form-control>
          </div>
        </div>
      </div>
      <div mat-dialog-actions>
        <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"
          (click)="confirmAdd() ">儲存</button>
        <button nz-button [nzSize]="'middle'" nzType="default" nzDanger (click)="onNoClick()" tabindex="-1"
          style="margin:0px 5px">取消</button>
      </div>
      <br><br>
    </form>
  </div>
</div>
