<mat-toolbar class="line_bank_form_header_title_color" style="z-index:50;position:fixed">
  <mat-toolbar-row>
    <img src="assets\images\LineBank.png" width="12%" (click)="goHome()">
    <button mat-button [matMenuTriggerFor]="aboveMenu" *ngFor="let menu of getMenu()"
      style="width:11%;text-align: center;">
      <img *ngIf="menu.getIcon()=='person_outline'" width="13%" src="assets\images\outline_person_black_48dp.png">
      <img *ngIf="menu.getIcon()=='search'" width="13%" src="assets\images\outline_search_black_48dp.png">
      <img *ngIf="menu.getIcon()=='report'" width="13%" src="assets\images\outline_equalizer_black_48dp.png">
      <img *ngIf="menu.getIcon()=='autorenew'" width="13%" src="assets\images\outline_autorenew_black_48dp.png">
      <img *ngIf="menu.getIcon()=='equalizer'" width="13%" src="assets\images\outline_equalizer_black_48dp.png">
      {{menu.getTitle()}}
      <mat-menu #aboveMenu="matMenu" yPosition="below">
        <button mat-menu-item *ngFor="let map of menu.getMenuList() | keyvalue: returnZero"
          [routerLink]="map.value">{{map.key}}</button>
      </mat-menu>
    </button>

    <span class="example-spacer"></span>

    <nz-card nzHoverable style="width:10%;height:60%;position:relative;" [nzCover]="coverTemplate">
      <nz-card-meta nzDescription="{{empNo}}" style="position:absolute;top:15px;left:30px"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img src="assets/images/outline_more_horiz_black_48dp.png" [matMenuTriggerFor]="menu" class="position_top2">

      <mat-menu #menu="matMenu" >
        <button mat-menu-item (click)="logOut()">
          <img width="25%" src="assets/images/outline_exit_to_app_black_48dp.png" class="position_top">
          <span>登出</span>
        </button>
      </mat-menu>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet class="router" style="padding-top: 45px;"></router-outlet>
