<div class="line_bank_bankground_color">
  <div class="container">
    <form [formGroup]="drawdownReleaseForm">

      <div class="line_bank_card_no_padding">
        <div nz-row>
          <div nz-col nzSpan="32">
            <div style="padding:10px">
              <button nz-button [nzSize]="'large'" nzType="primary" style="margin:0px 5px" (click)="drawdown()">動用額度</button>
            </div>
          </div>
          <div nz-col nzSpan="32">
            <div style="padding:10px">
              <button nz-button [nzSize]="'large'" nzType="primary" style="margin:0px 5px" (click)="release()">釋放額度</button>
            </div>
          </div>
          <div nz-col nzSpan="6">
            <div style="padding:10px"><span class="form-title">選擇額度號：</span>
              <mat-select [(ngModel)]="limitNoSelectedValue" formControlName="LIMIT_NO"
                style="width:100%;height:25px;border-radius:10px;border:none;padding:4px;background-color:#E6E6E6">
                <mat-option *ngFor="let code of limitNoOption" [value]="code.value">
                  {{code.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div nz-col nzSpan="6">
            <div style="padding:10px"><span class="form-title">選擇動用類別：</span>
              <mat-select [(ngModel)]="actionTypeSelectedValue" formControlName="ACTION_TYPE"
                style="width:100%;height:25px;border-radius:10px;border:none;padding:4px;background-color:#E6E6E6">
                <mat-option *ngFor="let code of actionTypeOption" [value]="code.value">
                  {{code.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div nz-col nzSpan="32">
            <div style="padding:10px">
              <button nz-button [nzSize]="'large'" nzType="primary" style="margin:0px 5px"
                (click)="onSubmit()">查詢</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>

    <cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="height: 400px;">
      <div class="line_bank_card_no_padding">
        <!-- 表格 -->
        <nz-table nzShowSizeChanger [nzData]="drawdownReleaseDataSource" [nzFrontPagination]="false" [nzSimple]="true"
           [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex" nzSize="small" [nzScroll]="{ x: '300px', y: '240;px' }" nzTitle="動用/釋放額度明細">
          <thead>
            <tr>
              <th [nzWidth]="'80px'" nzLeft class="table-header">額度號</th>
              <th [nzWidth]="'80px'" class="table-header">預佔編號</th>
              <th [nzWidth]="'80px'" class="table-header">動用類別</th>
              <th [nzWidth]="'80px'" class="table-header">額度</th>
              <th [nzWidth]="'50px'" class="table-header">幣別</th>
              <th [nzWidth]="'80px'" class="table-header">處理員編</th>
              <th [nzWidth]="'100px'" class="table-header">案件編號</th>
              <th [nzWidth]="'80px'" class="table-header">異動時間</th>
              <!-- <th [nzWidth]="'60px'" class="table-header">是否已釋放</th> -->
              <th [nzWidth]="'80px'" class="table-header">是否已核准</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of drawdownReleaseDataSource">
              <td class="table-data">{{ data.limitNo }}</td>
              <td class="table-data">{{ data.reserveNo }}</td>
              <td class="table-data">{{ getOptionDesc(data.actionType) }}</td>
              <td class="table-data" style="text-align: right;">{{ data.creditLimit }}</td>
              <td class="table-data">{{ data.currencyType }}</td>
              <td class="table-data">{{ data.empno }}</td>
              <td class="table-data">{{ data.applno }}</td>
              <td class="table-data">{{ data.manageDate |date :'yyyy-MM-dd' }}</td>
              <!-- <td class="table-data">{{ data.unreserveFlag }}</td> -->
              <td class="table-data">{{ data.statusFlag == 'Y' ? '主管已覆核並核准' : '主管尚未核准' }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </cdk-virtual-scroll-viewport>

</div>
