<br>
<div class="container">
    <form [formGroup]="drawdownReleaseForm" style="padding-left: 20px;">
        <table>
            <br>
            <mat-card class="matCard">
                <mat-card-content>
                    <tr>
                        <td>
                            <button type="submit" mat-raised-button color="success" (click)="drawdown()">動用額度</button>
                        </td>
                        <td>
                            <button type="clear" mat-raised-button color="primary" (click)="release()">釋放額度</button>
                        </td>
                        <th nowrap="nowrap">選擇額度號：</th>
                        <td>
                            <mat-form-field color="accent">
                                <mat-select [(ngModel)]="limitNoSelectedValue" formControlName="LIMIT_NO" value=''>
                                    <mat-option *ngFor="let code of limitNoOption" [value]="code.value">
                                        {{code.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <th nowrap="nowrap">選擇動用類別：</th>
                        <td>
                            <mat-form-field color="accent">
                                <mat-select [(ngModel)]="actionTypeSelectedValue" formControlName="ACTION_TYPE" value=''>
                                    <mat-option *ngFor="let code of actionTypeOption" [value]="code.value">
                                        {{code.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">查詢</button>
                        </td>
                    </tr>
                </mat-card-content>
            </mat-card>
        </table>
    </form>
</div>

<br>
<hr>

<cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="height: 400px;">
    <mat-dialog-content>
        <mat-table [dataSource]="drawdownReleaseDataSource" matSort (matSortChange)="changeSort($event)">

            <ng-container matColumnDef="LIMIT_NO">
                <mat-header-cell *matHeaderCellDef>額度號</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.limitNo }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="CURRENCY_TYPE">
                <mat-header-cell *matHeaderCellDef>幣別</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.currencyType }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="CREDIT_LIMIT">
                <mat-header-cell *matHeaderCellDef>額度</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.creditLimit }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ACTION_TYPE">
                <mat-header-cell *matHeaderCellDef>動用類別</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.actionType }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="EMPNO">
                <mat-header-cell *matHeaderCellDef>處理員編</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.empno }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="APPLNO">
                <mat-header-cell *matHeaderCellDef>案件編號</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.applno }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="MANAGE_DATE">
                <mat-header-cell *matHeaderCellDef>異動時間</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.manageDate |date :'yyyy-MM-dd'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="RESERVE_NO">
                <mat-header-cell *matHeaderCellDef>預佔編號</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.reserveNo }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="UNRESERVE_FLAG">
                <mat-header-cell *matHeaderCellDef>是否已釋放</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.unreserveFlag }}</mat-cell>
            </ng-container>

            <mat-header-row
                *matHeaderRowDef="['LIMIT_NO', 'CURRENCY_TYPE', 'CREDIT_LIMIT', 'ACTION_TYPE', 'EMPNO', 'APPLNO', 'MANAGE_DATE', 'RESERVE_NO', 'UNRESERVE_FLAG']; sticky: true">
            </mat-header-row>

            <mat-row
                *matRowDef="let ruleParmRow; columns: ['LIMIT_NO', 'CURRENCY_TYPE', 'CREDIT_LIMIT', 'ACTION_TYPE', 'EMPNO', 'APPLNO', 'MANAGE_DATE', 'RESERVE_NO', 'UNRESERVE_FLAG']">
            </mat-row>

        </mat-table>

        <tr>
            <td>
                <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
                </mat-paginator>
            </td>
        </tr>
    </mat-dialog-content>
</cdk-virtual-scroll-viewport>