<div class="line_bank_card_no_padding" style="min-height:170px">
  <div class="line_bank_form_header_title">個人額度維護-新增子額度</div>
  <div class="container" style="padding:20px">
    <form class="mat-dialog-content" #formControl="ngForm" [formGroup]="addForm">
      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">身分證字號</span>
              <input nz-input id="disable" #input class="form-control" name="codeTag" formControlName="NATIONAL_ID" readonly disabled>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">客戶編號</span>
              <input nz-input id="disable" #input class="form-control" name="codeTag" formControlName="CUSTOMER_ID"
                readonly>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">層級</span>
              <input nz-input id="disable" #input class="form-control" name="codeTag" formControlName="LEVEL_NO"
                readonly>
            </div>
          </div>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div>
              <span class="form-title-actions">額度類別</span>
              <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
                <mat-select formControlName="LIMIT_TYPE_CODE" required
                  style="width:100%;height:30px;border-radius:10px;border:none;padding:4px 11px;background-color:#E6E6E6">
                  <mat-option *ngFor="let yn of limitTypeOption" [value]="yn.value">
                    {{yn.viewValue}}
                  </mat-option>
                </mat-select>
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="16">
          <div class="form" style="padding:20px;">
            <nz-form-label nzFor="website" nzRequired style="height: 23px;margin-top: -10px;"><span
                class="form-title-actions">額度起日-額度訖日</span></nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <mat-form-field color="accent" class="example-form-field"
                style="margin-top:-19px; margin-left: 11px; width: 250px;">
                <mat-date-range-input [rangePicker]="rangePicker" [min]="minDate">
                  <input id="pickerInput" matStartDate formControlName="LIMIT_START_DATE" required
                    style="padding-left: 2px; padding-bottom: 13px; background-color: white; border-color: white; width: 150px;">
                  <input matEndDate formControlName="LIMIT_END_DATE" required
                    style="background-color: white; border-color: white; width: 130px">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker>
                  <mat-date-range-picker-actions>
                    <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"
                      matDateRangePickerApply (click)="setTimes()">確定</button>
                    <button nz-button [nzSize]="'middle'" nzType="defult" nzDanger style="margin:0px 5px"
                      matDateRangePickerCancel>取消</button>
                  </mat-date-range-picker-actions>
                </mat-date-range-picker>
              </mat-form-field>
            </nz-form-control>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">額度</span>
              <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
                <input nz-input #input style="text-align: right;" class="form-control"
                  onkeyup="this.value=this.value.replace(/\D/g,'')"
                  onafterpaste="this.value=this.value.replace(/\D/g,'')" (keyup)="onKey($event)" name="codeTag"
                  formControlName="CREDIT_LIMIT" required>
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <span class="form-title-actions">幣別</span>
            <mat-select formControlName="CURRENCY_TYPE" readonly
              style="width:100%;height:30px;border-radius:10px;border:none;padding:4px 11px;background-color:#f5f5f5;border: 1px solid #E6E6E6">
              <mat-option *ngFor="let type of CurrencyOption" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">上層額度號</span>
              <input nz-input id="disable" #input class="form-control" name="codeTag" formControlName="UP_LEVEL"
                readonly>
            </div>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">是否可撤銷</span>
              <mat-select formControlName="CANCEL_FLAG"
                style="width:100%;height:30px;border-radius:10px;border:none;padding:4px 11px;background-color:#E6E6E6">
                <mat-option *ngFor="let yn of ynCode" [value]="yn.value">
                  {{yn.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">循環別</span>
              <mat-select formControlName="CYCLE_TYPE"
                style="width:100%;height:30px;border-radius:10px;border:none;padding:4px 11px;background-color:#E6E6E6">
                <mat-option *ngFor="let yn of ynCode" [value]="yn.value">
                  {{yn.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div mat-dialog-actions>
          <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"
            (click)="confirmAdd() ">儲存</button>
          <button nz-button [nzSize]="'middle'" nzType="default" nzDanger (click)="onNoClick()" tabindex="-1"
            style="margin:0px 5px">取消</button>
        </div>
      </div>
      <br><br>
    </form>
  </div>
</div>
